/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-block-size: 100vh;
    background-color: purple;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    inline-size: 100%;
    object-fit: cover;
}
/* Slot container */
.slot {
    background-color: orange;
    inline-size: 20rem;
    text-align: center;
    }
    /* Slot image container */
    .slot__img {
        /* block-size: 5rem; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 1rem;
}
/* large image */
.large-cherry {
    inline-size: 80%;
}