* {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: purple;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
img {
    inline-size: 4rem;
    max-block-size: 4rem;
    object-fit: cover;
}
.slot {
    background-color: orange;
    inline-size: 100%;
    text-align: center;
    }
    .slot__img {
        block-size: 5rem;
        display: flex;
    :not(:last-child) {
        border-right: 2px solid green;
    }
}