* {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}
html {
    box-sizing: border-box;
}
body {
    background-color: purple;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
img {
    inline-size: 100%;
}
.slot {
    background-color: orange;
    inline-size: 100%;
    max-inline-size: 10rem;
}